@charset "utf-8";

:root {
  font-size: 16px;
  --main: #dedede;
  --white: #fff;
  --img: #dadada;
  --font: #333;
}

* {
  cursor: url("../img/cursor-b-43.png"), auto;
}

html {
  font-family: "Times New Roman", Georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 5px;
  scroll-behavior: smooth;
  text-align: center;
  word-break: keep-all;
  white-space: normal;
}

body {
  max-width: 100vw;
  height: auto;
  font-size: 100%;
  margin: 0 auto;
  color: var(--font);
  background-color: var(--main);
}

a:hover {
  color: var(--main);
}
/* =================================================================
header 
======================================================================*/
.line {
  width: 400px;
  height: 100%;
  height: 2px;
  background: var(--white);
  transform: rotate(-50deg);
  z-index: 21;

  position: fixed;
  top: 170px;
  left: -35px;
}

header {
  max-width: 100%;
  height: auto;
  margin: 0 auto;

  position: fixed;
  z-index: 98;
  top: 15px;
  left: 0;
}

.pc-menu nav {
  width: 100%;
  height: auto;
}

.pc-menu ul {
  max-width: 100%;
  height: auto;
  margin: 0;
}

.pc-menu li {
  font-size: 24px;
  width: fit-content;
  margin: 7px 0;
}

.pc-menu li::marker {
  color: var(--white);
}

.pc-menu li a {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

.pc-menu li a:hover {
  color: #000;
}

.pc-menu nav {
  position: relative;
}

/* .sp-menu */

.ham-btn {
  display: none;
  appearance: none;
  background: none;
  border: 0;
}

.sp-menu {
  display: none;
}

.sp-menu ul {
  padding: 0;
  text-align: center;
  margin: 100px auto;
}

.sp-menu li {
  width: fit-content;
  font-size: 16px;
  list-style: none;
  font-weight: bold;
  margin: 0 auto;
  line-height: 250%;
}

.sp-menu li a {
  width: fit-content;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

.sp-menu li a:hover {
  color: var(--white);
  font-size: 14px;
}

.sp-menu.is-active {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 426px) {
  .pc-menu,
  .line {
    display: none;
  }

  .sp-menu {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: -1;
    opacity: 0;
    transition: 0.4s;
    /* ふわっと表示 */
  }

  .sp-menu.is-active {
    z-index: 95;
  }

  .ham-btn {
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 100;
    width: 40px;
    height: 40px;
    border: none;
  }

  .ham-line {
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    transition: 0.4s;
  }

  .ham-line::before,
  .ham-line::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    transition: inherit;
    z-index: 1000;
  }

  .ham-line:before {
    top: -9px;
  }

  .ham-line:after {
    top: 9px;
  }

  .ham-btn.is-active .ham-line {
    background-color: transparent;
  }

  .ham-btn.is-active .ham-line::before {
    top: 0;
    transform: rotate(45deg);
    background-color: #333;
  }

  .ham-btn.is-active .ham-line::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: #333;
  }

  .is-active {
    opacity: 100;
  }
}

/* =================================================================
マウス
======================================================================*/
#stalker {
  pointer-events: none;
  position: fixed;
  top: -8px;
  /* //座標調節（カーソル位置と円の中心を合わせる） */
  left: -8px;
  /* //座標調節（カーソル位置と円の中心を合わせる） */
  width: 40px;
  /* //マウスストーカーの直径 */
  height: 40px;
  /* //マウスストーカーの直径 */
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transform: translate(0, 0);
  transition: transform 0.2s;
  /* //ちょっと遅れてついてくるように */
  transition-timing-function: ease-out;
  z-index: 998;

  &.hov_ {
    top: -32px;
    left: -32px;
    width: 64px;
    height: 64px;
    transition: 0.5s;
    background: rgb(255, 255, 255, 0.5);
  }
}

/* =================================================================
ローディング
======================================================================*/
/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  text-align: center;
  color: #fff;
}

/* Loading画像中央配置　*/
#splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
}

/*IE11対策用バーの線の高さ※対応しなければ削除してください*/
#splash_text svg {
  height: 2px;
}

/*割れる画面のアニメーション*/
.loader_cover {
  width: 100%;
  height: 50%;
  background-color: #333;
  transition: all 0.2s cubic-bezier(0.04, 0.435, 0.315, 0.9);
  transform: scaleY(1);
}

/*上の画面*/
.loader_cover-up {
  transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
  position: absolute;
  bottom: 0;
  transform-origin: center bottom;
}

/*クラス名がついたらY軸方向に0*/
.coveranime {
  transform: scaleY(0);
}
/* ===========================================
ふわっと表示
===================================== */
.target {
  opacity: 0;
  transition: 1s; /*ふわっと表示させる*/
  transform: translateY(20px); /*下20pxから*/
}

.is-active-f {
  opacity: 1;
  transform: translateY(0);
}

.lording {
  z-index: 99999;
}
